@inherits LayoutComponentBase
@using Telerik.Blazor.Components


<TelerikRootComponent>
    <div class="main-layout">
        <div class="navbar">
            <TelerikTabStrip>
                <TabStripTab Title="Portfolio">
                    <NavLink href="/" />
                </TabStripTab>
                <TabStripTab Title="Performance">
                    <NavLink href="/performance"></NavLink>
                </TabStripTab>
                <TabStripTab Title="News">
                    <NavLink href="/news"></NavLink>
                </TabStripTab>
            </TelerikTabStrip>
        </div>

        <div class="content">
            @Body
        </div>
    </div>
</TelerikRootComponent>

<style>
    .navbar {
        background-color: #f8f9fa;
        padding: 1rem;
    }

    .content {
        padding: 2rem;
    }
</style>